<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- APPENDER -->
    <!-- Console Appender - send debug messages to System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/testDao.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <totalSizeCap>10MB</totalSizeCap>
            <maxHistory>20</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- LOGGER -->
    <!-- Class logger -->
    <logger name="by.polmak.dao" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Root logger -->
    <root level="DEBUG">
        <appender-ref ref="FILE-ROLLING"/>
    </root>
</configuration>